<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testitest</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <section class="header-container">
        <div class="img-container">
            <img src="#" alt="">
        </div>
        <div class="text-container">
            <h1>Moritz Meier</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit 
                dignissimos corrupti, sapiente tempore aperiam inventore
                earum fugit animi aut impedit!
            </p>
            <a href="#" class="btn">Click me</a>
        </div>
    </section>
    <section>
        
    </section>
    <footer>
        <p>Moritz Meier</p>
    </footer>
</body>
</html>